.md-header, .md-tabs {
    background-color: #212529;
}
.md-logo svg {
    content: "test";
}

.digital-pin {
    color: #00ff00;
}
.orange-pin {
    color: #ffa600;
}
.power5-pin, .power3-pin {
    color: red;
}
.ground-pin, .digital-pin, .power5-pin, .power3-pin {
    font-weight: bold;
}